aside {
    display: block;
    position: absolute;
    right: 15%;
    top: 15%;
    width: 20%;
    background-color: white;
    text-align: justify;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
}

aside span {
    display: block;
    color: black;
}

tbody {
    /*width: 100%;*/
    /*display: table;*/
}

@media (max-width: 1317px) {
    aside {
        width: 25%;
    }
}

@media (max-width: 1057px) {
    aside {
        font-size: 1em;
    }
}