footer{
    position: fixed;
    width: 100%;
    bottom: 2%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor);
    font-size: 1.4em;
}

footer i{
    padding-left: 10px;
}

