section.shop {
    color: black;
    background-color: #303030;
    /* background-image: url('../img/bg4.jpg'); */
    background-size: cover;
    display: inline-block;
}

div.carList {
    position: relative;
    display: flex;
    flex-direction: column;
    left: var(--sectionMargins);
    width: 70%;
    height: 90%;
    margin-bottom: 1%;
    background-color: deepskyblue;
}

div.car{
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    height: 100%;
    background-color: #fff;
    border: 2px solid black;
}

div.photo{
    width: 30%;
}

div.car div.photo img{
    width: 100%;
}

div.desc1{
    width: 30%;
}

div.desc1 ul{
    margin-left: 10%;
    height: 100%;
}

div.desc1 li:nth-child(1){
    font-size: 2.5em;
    list-style-type: none;
}

div.desc1 li{
    font-size: 2em;
    /*list-style-type: none;*/
}




