nav {
    position: fixed;
    left: 15%;
    top: 1%;
    width: 70%;
    background-color: var(--bgColor);
    z-index: 1;
}

nav ul {
    display: flex;
    margin: 1% auto;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgColor);
}

nav li:first-child {
    margin-right: 15%;
}

nav li {
    display: flex;
    align-self: auto;
    align-items: center;
    list-style: none;
    text-align: center;
}

nav li:hover {
    border-bottom: 4px solid cornflowerblue;
    border-top: 4px solid var(--bgColor);
}

nav li:first-child:hover {
    border: 0px;
}

img {
    display: block;
    margin: 0 auto;
    height: 3vw;

}

nav span {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    /* text-shadow: 1px 1px gray; */
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    scroll-behavior: smooth;
}