nav {
    position: fixed;
    left: var(--sectionMargins);
    top: 1%;
    width: 70%;
    background-color: var(--bgColor);
    z-index: 1;
}

nav ul {
    display: flex;
    margin: 1% auto;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bgColor);
}

nav li:first-child {
    margin-right: 15%;
    padding: 1% 0 ;
    cursor: default;
}

nav li {
    display: flex;
    align-self: auto;
    align-items: center;
    list-style: none;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-size: 1.8em;
    text-decoration: none;
    scroll-behavior: smooth;
}

nav li:hover {
    border-bottom: 4px solid var(--fontColor);
    border-top: 4px solid var(--bgColor);
}

nav li:first-child:hover {
    border: 0px;
}

/*img {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    height: 3vw;*/
/*}*/

nav i{
    font-size: 1.5em;
    margin-right: 5px;
}

nav span {
    /*font-family: 'Roboto', sans-serif;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*color: black;*/
    /*font-size: 1.5em;*/
    /*text-decoration: none;*/
    /*scroll-behavior: smooth;*/
}


