@import "nav.css";
@import "uslugi.css";
@import "aside.css";
@import "footer.css";

:root{
    --bgColor: ghostwhite;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    height: 200vh;
    background-image: url('../img/bg3.jpg');
    background-size: 100%;
}

h3{
    text-transform: uppercase;
    color: cornflowerblue;
    text-align: center;
}

nav{
    position: fixed;
    left: 10%;
    top: 1%;
    width: 80%;
    height: 10%;
    background-color: var(--bgColor);
    z-index: 1;
}

section{
    display: none;
    position: absolute;
    background-color: var(--bgColor);
    color: white;
    width: 80%;
    left: 10%;
}

.sprzedaz{
    display: block;
    top: 100%;
}






